@import url('https://fonts.googleapis.com/css?family=Chango|Josefin+Sans:700&display=swap');
body {
  background-color: #c5f5f0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23086b54' fill-opacity='0.22' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  color: #444;
}

h1, h2 {
  color: #ffa5a5;
  font-family: 'Chango', cursive, sans-serif;
  text-shadow: 1px 1px #444, 2px 2px #444, 3px 3px #444, 4px 4px #444, -1px -1px #444
}

h1 {
  font-size: 2.7em;
  margin-top: 0;
}

h2 {
  font-size: 1.4em;
}

#menuPhone{
  width: 100vw;
  background: #7ad9f5;
  position: absolute;
  top: -100%;
  transition: .3s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px 20px 20px;
  box-sizing: border-box;
  font-size: 1rem;
}

#menuPhone div, #menuPhone a{
  text-align: center;
  margin: 15px;
  line-height: 25px;
  color: #333;
}

.unhideMenuPhone{
  top: 0px !important;
}

.hideAnim{
  animation: bounce .5s cubic-bezier(0.6, -0.27, 0.735, 0.045)
}

@keyframes bounce{
  0%{
    top: 0px;
  }
  30%{
    top: 0px;
    height: 500px;
  }
  100%{
    top: -100%;
  }
}

#wrapper > h2{
  margin-top:0;
  margin-bottom:30px;
}

nav{
  background: #7ad9f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  
  z-index: 999 ;
}

#nav_sandwich{
  width:60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-z-index: 999 ;
  -moz-z-index: 999 ;
  -ms-z-index: 999 ;
  -o-z-index: 999 ;
}

#nav-sandwich_inner{
  display: flex;
  flex-direction: column;
}

.nav_sandwich-line{
  width: 30px;
  height: 3px;
  border-radius: 50px;
  background: #f6f6f6;
  transition: .6s;
}

.nav_sandwich-line:nth-child(2){
  margin-top: 6px;
  margin-bottom: 6px
}

.nav_sandwich-up{
  position: relative;
  transform:translateY(9px) rotate(405deg);
  transform-origin:middle;
  background: #ca3e47 !important
}

.nav_sandwich-mid{
  position: relative;
  transform:rotate(-405deg);
  background: #ca3e47 !important
}


.nav_sandwich-low{
  position: relative;
  transform:translateY(-9px) rotate(-405deg);
  transform-origin:middle;
  background: #ca3e47 !important
}

#titulo h1 {
  margin-bottom: 0
}

#titulo p {
  margin-top: 0;
  color: #444;
}

hr {
  width: 90%;
  border: dashed 1px #ffa5a5;
}

#wrapper {
  background: #f6f6f6;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: inset 2px #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 480px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: hidden;
}

#presentaciones p, #notas p, #contra p {
  font-size: 12px
}

#custom-select {
  background: #d7f8f4;
  padding: 10px;
  border-radius: 5px;
}

form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 12px;
}

label {
  width: 80%;
  text-align: left;
  margin: 5px 0;
  line-height: 40px;
  background: #d7f8f4;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
}

input {
  width: 20%;
  border-radius: 0 5px 5px 0;
  background: #82fdef;
  font-size: 20px;
  margin: 5px 0;
  border: none;
  color: #444;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

input[type=number]:-webkit-inner-spin-button, input[type=number]:-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.button {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  background: #ffd2d2;
  color: #36393B;
  border-top: solid 5px #ffa5a5;
}

.button:active {
  background: #ffa5a5
}

#btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 50px
}

#limpiar {
  width: 80px;
  background: #ca3e47;
  border-top: solid 5px #86272d;
  color: #f6f6f6;
}

#limpiar:active {
  background: #86272d;
}

#footer {
  -ms-grid-column-align: normal;
  justify-self: normal;
  margin-bottom: 0px;
  background: #333333;
  width: 100%;
  color: #f6f6f6;
  font-size: 12px;
  text-align: center;
  position: fixed;
  bottom: 0
}

.dosis_question {
  padding: 0;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border: solid 3px #ca3e47;
  border-radius: 50%;
  font-weight: 700;
  color: #444;
}

#alert, #dosis_ayuda, #diaria_ayuda {
  position: absolute;
  padding: 20px;
  top: 150%;
  left: -100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffe1e1;
  color: #444;
  border-radius: 5px;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 999
}

#alert::-webkit-scrollbar, #dosis_ayuda::-webkit-scrollbar, #diaria_ayuda::-webkit-scrollbar {
  width: 5px;
  background-color: #7ad9f5;
}

#alert::-webkit-scrollbar-thumb, #diaria_ayuda::-webkit-scrollbar-thumb, #dosis_ayuda::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #ca3e47;
}

#alert::-webkit-scrollbar-track, #diaria_ayuda::-webkit-scrollbar-track, #dosis_ayuda::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000004d;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #7ad9f5;
}

.unhide {
  top: 50% !important;
  left: 50% !important;
}

#alert_close, #ayuda_close, #diaria_close {
  width: 30px;
  height: 30px;
  border: solid 3px #ca3e47;
  background: #f6f6f6;
  border-radius: 50%;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  color: #444;
  top: 0px;
  right: 0px;
  float: right;
  -webkit-transform: translate(40%, -40%);
  -ms-transform: translate(40%, -40%);
  transform: translate(40%, -40%);
}

#alert_message, #dosis_ayuda div, #diaria_ayuda div {
  text-align: center;
  line-height: 1.6em;
  margin: 0px;
  padding: 10px;
  border: dashed 2px #444;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #d8f8f5;
}

#dosis_ayuda span, #diaria_ayuda span, #contra span, #presentaciones span {
  color: #ca3e47;
}

a {
  text-decoration: none;
  color: #58b368;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  background: #ffd1d1;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;
  padding-left: 10px;
  width: 100%;
  height: 30px;
}

/* Remove IE arrow */

select::-ms-expand {
  display: none;
}

.select {
  height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.select::after {
  content: '\25BC';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  top: 0;
  right: 0;
  padding: 0 16px;
  background: #ffd1d1;
  border-left: solid 2px #d7f8f4;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select:hover::after {
  color: #ca3e47;
}

optgroup{
  font-size: 16px;
  background: #c5f5f0;
}

option {
  font-size: 12px;
  background: #ffd2d2;
}

@media (max-width: 480px) {
  body {
    height: auto;
    overflow: unset;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  nav{
    text-align: center
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0px
  }

  #menuPhone hr{
    margin-top: 15px;
    margin-bottom: 15px
  }
  
  #wrapper {
    width: 100vw;
    border-radius: 0px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 20px 20px 0 20px;
    background-color: transparent;
  }
  
  #alert, #dosis_ayuda, #diaria_ayuda {
    width: 80vw;
  }
  form {
    width: 100%;
  }
}