@import url('https://fonts.googleapis.com/css?family=Chango|Josefin+Sans:700&display=swap');

body{
  background-image: -webkit-linear-gradient( 315deg , #ff487e, #ff9776, #ffd5be, #ffedff);
  background-image: -o-linear-gradient( 315deg , #ff487e, #ff9776, #ffd5be, #ffedff);
  background-image: linear-gradient( 135deg , #35477d, rgb(106, 131, 214));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100%;
  color: #444;
  overflow: hidden
}

h1, h2{
  font-size: 1.6em;
  margin-top: 0;
  color: #e16262;
  font-family: 'Chango', cursive, sans-serif;
  text-shadow: 1px 1px #444,
  2px 2px #444,
  3px 3px #444,
  4px 4px #444,
  -1px -1px #444
}

#wrapper{
  background: #f6f6f6;
  text-align: center;
  padding:30px;
  border-radius: 10px;
  border: inset 2px #444;
}

form{
  text-align: center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

label{
  width:84%;
  text-align: left;
  margin:5px 0;
  line-height: 40px;
  background: hsla(225, 40%, 35%, .2);
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  box-sizing: border-box;
}

input{
  width:14%;
  border-radius: 0 5px 5px 0;
  background: hsla(225, 40%, 35%, .4);
  font-size: 25px;
  margin:5px 0;
  border:none;
  color: #444;
  text-align: center
}

input[type=number]:-webkit-inner-spin-button, 
input[type=number]:-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type='number'] {
    -moz-appearance:textfield;
}

#calcular{
  margin-top: 15px;
  font-size: 16px;
  padding:10px;
  border-radius: 5px;
  width: 150px;
  background: #3a9679;
  color: #f6f6f6;
  border:none;
}

.dosis_question{
  padding:0;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border: solid 3px #ca3e47;
  border-radius: 50%;
  font-weight: 700;
  color: #444;
}

#alert, #dosis_ayuda, #diaria_ayuda{
  display:none;
  position:absolute;
  padding: 20px;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #7ad9f5;
  color: #444;
  border-radius: 5px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden
}

#alert::-webkit-scrollbar,
#dosis_ayuda::-webkit-scrollbar,
#diaria_ayuda::-webkit-scrollbar {
	width: 5px;
	background-color: #7ad9f5;
}

#alert::-webkit-scrollbar-thumb,
#diaria_ayuda::-webkit-scrollbar-thumb,
#dosis_ayuda::-webkit-scrollbar-thumb {
	border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ca3e47;
}

#alert::-webkit-scrollbar-track,
#diaria_ayuda::-webkit-scrollbar-track,
#dosis_ayuda::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #7ad9f5;
}

.unhide{
  display: inline-block  !important;
}

#alert_close , #ayuda_close, #diaria_close{
  width: 30px;
  height: 30px;
  border: solid 3px #ca3e47;
  background: #f6f6f6;
  border-radius: 50%;
  font-weight: 700;
  position:sticky;
  color: #444;
  top: 0px;
  right: 0px;
  float: right;
  transform: translate(40%, -40%);
}

#alert_message , #dosis_ayuda div, #diaria_ayuda div{
  text-align: center;
  line-height: 1.6em;
  margin:0px;
  padding:10px;
  border: dashed 2px #444;
  box-sizing: border-box;
}

#dosis_ayuda span, #diaria_ayuda span{
  color: #ca3e47;
}

a{
  text-decoration: none;
  color: #ca3e47;
}

@media (max-width: 480px){
  #wrapper{
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin:0;
    padding: 20px;
    background: rgba(190,190,250,1)
  }

  #alert, #dosis_ayuda, #diaria_ayuda{
    width: 80vw;
  }

  form{
    width: 100%;
  }
}